<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="address"
		class="com.steve.spring.springcore.advanced.autowiring.Address"
		p:hno="001" p:city="LA" p:street="St Peters" />
		
	<!-- autowire="byType" : Matches the class name of the object with the class names defined in the container -->
	<bean name="employee"
		class="com.steve.spring.springcore.advanced.autowiring.Employee" autowire="byType"/>
		
	<!-- 
		autowire="constructor" : Inject the values though constructor finding and matching the dependency bean through type and name
	<bean name="employee"
		class="com.steve.spring.springcore.advanced.autowiring.Employee" autowire="constructor"/> -->
		
	<!-- 
	      autowire="byName" :  Matches the name of the object defined in the class with the name present in the spring container 
	<bean name="employee"
		class="com.steve.spring.springcore.advanced.autowiring.Employee" autowire="byName"/> -->	


</beans>